html, body {
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100vh;
    overflow: hidden;
    background-image: url("logofullv2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    height: 100vh;
}

.my-row {
    justify-content: center;
    height: 12.5vh;
    align-items: center; /* vertical justification */
    text-align: center;
}

@keyframes unwrap {
    from {background-color:#15181F;}
    to {background: #7B7A88;}
}

.my-col {
    align-content: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
    color:#F0EEE8;
    /*
    animation-name: unwrap;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background-color: #7B7A88;
    */
}

.empty-row {
    height: 25vh;
}

#buttons {
    color: #F0EEE8;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

#buttons:hover {
    color: #7B7A88;
    text-decoration: none;
}