html, body {
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100vh;
    overflow: hidden;
    background-image: url("logofull.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    height: 100vh;
    color: white;
}

.my-row {
    justify-content: center;
    height: 12.5vh;
    align-items: center; /* vertical justification */
    text-align: center;
}

.my-col {
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.empty-row {
    height: 25vh;
}